@import url('https://fonts.googleapis.com/css?family=Montserrat');

.listButton{
    margin-left: .5em;
    font-size: 1em;
}

ul>li{
    display: block;
    text-align: center;
    padding: .5em .5em;
}

h2{
    font-size: 3em;
    font-weight: normal; 
    text-align: center;
    font-family: 'Montserrat'
}